@font-face {
  font-family: mid;
  src: url("neue-haas-grotesk/NeueHaasDisplayMediu.ttf");
}
@font-face {
  font-family: rom;
  font-weight: 100;
  src: url("neue-haas-grotesk/NeueHaasDisplayRoman.ttf");
}
@font-face {
  font-family: lig;
  font-weight: 100;
  src: url("neue-haas-grotesk/NeueHaasDisplayLight.ttf");
}
@font-face {
  font-family: xthin;
  font-weight: 100;
  src: url("neue-haas-grotesk/NeueHaasDisplayXThin.ttf");
}
@font-face {
  font-family: xxthin;
  font-weight: 100;
  src: url("neue-haas-grotesk/NeueHaasDisplayXXThin.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mid;
  text-decoration: none;
  color: black;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
}

header {
  position: relative;
  width: 100%;
  height: 14vh;
  padding: 5vh 5vh 0vh 4vh;
  z-index: 99999;
  background-color: #efeae3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ops {
  display: flex;
  justify-content: space-between;
  gap: 1.6vh;
}

.nav-ops h4 {
  border: 1px solid rgba(0, 0, 0, 0.527);
  padding: 1.3vh 2.01vh;
  border-radius: 10vh;
  font-size: 1.8vh;
  letter-spacing: -0.6px;
}

main {
  position: relative;
  z-index: 99999;
  background-color: #efeae3;
}

.page1 {
  width: 100%;
  height: 84vh;
  padding: 3.6vh 4vh;
}

.page1-cont {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: space-between;
  padding: 9vh 2vh;
}

.page1-cont .pg1-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 35vh;
}

.page1-cont .pg1-left h3 {
  font-size: 4vh;
}

.page1-cont .pg1-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.page1-cont .pg1-right h1 {
  text-align: right;
  font-size: 20vh;
  line-height: 0.82;
}

.page2 {
  width: 100%;
  height: 100%;
  padding: 4vh 4vh 16vh 4vh;
}

.page2 video {
  border-radius: 3vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marquee {
  background-color: aquamarine;
  width: 100%;
  height: 20vh;
}

.page3 {
  width: 100%;
  height: 100vh;
  padding: 8vh 12vh;
}

.page3-cont {
  width: 100%;
  height: 100%;
  display: flex;
}

.pg3-left {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 22.6vh;
  padding-right: 12vh;
}

.pg3-left h1 {
  font-size: 8.4vh;
  line-height: 0.98;
}

.pg3-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2vh;
}

.pg3-right img {
  border-radius: 2vh;
  width: 19.6vw;
  height: 26vh;
  background-color: blue;
}

.pg3-right h5 {
  margin-top: 5.8vh;
  font-size: 1.8vh;
  letter-spacing: -0.06vh;
}

.page5 {
  width: 100%;
  height: 100%;
  padding: 12vh 4vh;
}

.page5-cont {
  width: 100%;
  height: 114vh;
  background-color: black;
  border-radius: 2vh;
  display: flex;
  justify-content: space-between;
}

.pg5-left {
  width: 43%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg5-left-box {
  width: 48vh;
  height: ;
}

.pg5-left-box .upper-box {
  border-left: 2px solid #504a45;
}

.pg5-left-box .upper-box h1 {
  color: #504a45;
  font-size: 9.4vh;
  margin-left: 3.8vh;
  cursor: pointer;
  letter-spacing: -1px;
}

.pg5-left-box .upper-box .h1:hover {
  margin-left: 0vh;
  color: #efeae3;
}

.pg5-left-box .upper-box .h2:hover {
  margin-left: 0vh;
  color: #efeae3;
}

.pg5-left-box .upper-box .h3:hover {
  margin-left: 0vh;
  color: #efeae3;
}

.pg5-left-box p {
  font-family: lig;
  color: #efeae3;
  margin-top: 1.6vh;
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 0.1vh;
}

.pg5-right {
  width: 57%;
  height: 100%;
  background-color: rgb(104, 110, 46);
  border-radius: 2vh;
  position: relative;
}

.pg5-right img {
  width: 100%;
  height: 100%;
  border-radius: 2vh;
}

.pg5-right-i1 {
}

.pg5-right-i2,
.pg5-right-i3 {
  position: absolute;
  top: 0;
  left: 0;
}

.trans-footer {
  width: 100%;
  height: 100vh;
}

footer {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 4vh 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
}

footer * {
  color: #efeae3;
}

.foot-top {
  display: flex;
  justify-content: space-between;
  padding: 0vh 8.6vh 19vh 8.6vh;
  align-items: flex-end;
}

.foot-top .top-left h1 {
  font-size: 4.2vh;
}

.foot-top .top-right {
  margin-right: vh;
}

.foot-top .top-right p {
  font-family: rom;
  font-size: 2.6vh;
}

.foot-top .top-right input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #efeae354;
  padding-bottom: 1vh;
  font-size: 2.4vh;
  color: #efeae3;
  outline: none;
  margin-top: 4vh;
  width: 45vh;
  font-family: rom;
}

.foot-mid {
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
}

.foot-mid img {
  height: 35vh;
}

.foot-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #efeae375;
  margin-bottom: 6vh;
}

.foot-bottom h1 {
  font-size: 2.1vh;
  padding-top: 2.4vh;
}
